what we need to do in this project explained here:

1.we need to create contactus button :
we are creating this button in shop.html file because its more convienient to use.
creating this button in shop.html can be visible to user whenevr he goes to different page also

2.on clicking contactus button we need to show form contains name,email id to user:
we are creating contactus.html in order to create name,mail
we need to create contactus.js file because in order to handle contactus.html file
In app.js file provide the path of contactus.js file and do app.use
once user click on contactus button we need to redirect contactus.js file to success.js in order to print form filled successfull
In success.js we are not doing router.sendFile because we are not creating success.html file(no handling of success.html file)
In app.js file provide the path of contactus.js file and do app.use